html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
html,
body {
    height: 100%;
}
a {
    display: inline-block;
    text-decoration: none;
    color: #000;
}
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    overflow-x: hidden;
    position: relative;
    min-width: 320px;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

#modal {
    display: none;
}
.fancybox-can-swipe .fancybox-content,
.fancybox-can-pan .fancybox-content {
   // cursor: -webkit-grab !important;
   // cursor: grab;
   cursor: pointer;
}

.fancybox-is-grabbing .fancybox-content {
   // cursor: -webkit-grabbing !important;
   // cursor: grabbing;
   cursor: pointer;
}